# **Bank Customer  Prediction**

### **Data Preeprocessing**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
data.shape

(10000, 14)

### **Chack The NullVelues**

In [4]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

## **Feature Enginnering**

In [5]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
data.drop(['CustomerId','RowNumber'], axis=1,inplace=True)

In [7]:
data.columns

Index(['Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Exited'],
      dtype='object')

In [8]:
data = data[[ 'CreditScore', 'Geography', 'Gender', 'Age',
       'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Exited']]
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])

In [10]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [11]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [12]:
data = pd.get_dummies(data, drop_first=True)
data.head()

   CreditScore  Gender  Age  ...  Exited  Geography_Germany  Geography_Spain
0          619       0   42  ...       1                  0                0
1          608       0   41  ...       0                  0                1
2          502       0   42  ...       1                  0                0
3          699       0   39  ...       0                  0                0
4          850       0   43  ...       0                  0                1

[5 rows x 12 columns]

In [13]:
data.shape

(10000, 12)

## **Splite Data**

In [14]:
X = data.drop('Exited',axis=1)
y = data['Exited']

In [15]:
X.shape , y.shape

((10000, 11), (10000,))

## **Train-Test Splite**

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

**Feture Scaling**

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**import ANN Librabries**

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

**Initialising The ANN**

In [19]:
ann = Sequential()

**Add Input & 1st Hidden Layers**

In [20]:
ann.add(Dense(units=10, activation='relu', kernel_initializer='he_normal', input_dim = 11))

**Add Hideen Layers**

In [21]:
ann.add(Dense(units=20, activation='relu', kernel_initializer='he_normal'))

In [22]:
ann.add(Dense(units=15, activation='relu', kernel_initializer='he_normal'))

**Add Output Layer**

In [23]:
ann.add(Dense(units=1, activation='sigmoid', kernel_initializer='glorot_normal'))

**Compiling The ANN**

In [24]:
ann.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

**Train The Data**

In [25]:
model = ann.fit(X_train, y_train, validation_split=0.33, batch_size=10, epochs =100)

Epoch 1/100
536/536 [==============================] - 2s 3ms/step - loss: 0.5709 - accuracy: 0.7236 - val_loss: 0.4459 - val_accuracy: 0.8099
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.8238 - val_loss: 0.4142 - val_accuracy: 0.8179
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8383 - val_loss: 0.3946 - val_accuracy: 0.8315
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3801 - accuracy: 0.8423 - val_loss: 0.3837 - val_accuracy: 0.8402
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3614 - accuracy: 0.8508 - val_loss: 0.3778 - val_accuracy: 0.8421
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3509 - accuracy: 0.8546 - val_loss: 0.3762 - val_accuracy: 0.8417
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8622 - val_loss: 0.3759 - val_accuracy: 0.8429
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3661 - accuracy: 0.8557 - val_loss: 0.3725 - val_accuracy: 0.8451
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8574 - val_loss: 0.3747 - val_accuracy: 0.8455
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8577 - val_loss: 0.3721 - val_accuracy: 0.8436
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8591 - val_loss: 0.3716 - val_accuracy: 0.8436
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8632 - val_loss: 0.3719 - val_accuracy: 0.8429
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3412 - accuracy: 0.8576 - val_loss: 0.3714 - val_accuracy: 0.8417
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8610 - val_loss: 0.3759 - val_accuracy: 0.8432
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3175 - accuracy: 0.8683 - val_loss: 0.3714 - val_accuracy: 0.8436
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8620 - val_loss: 0.3693 - val_accuracy: 0.8440
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8596 - val_loss: 0.3705 - val_accuracy: 0.8448
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3204 - accuracy: 0.8696 - val_loss: 0.3704 - val_accuracy: 0.8463
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3166 - accuracy: 0.8675 - val_loss: 0.3735 - val_accuracy: 0.8436
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8599 - val_loss: 0.3688 - val_accuracy: 0.8482
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3191 - accuracy: 0.8699 - val_loss: 0.3698 - val_accuracy: 0.8466
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3294 - accuracy: 0.8630 - val_loss: 0.3699 - val_accuracy: 0.8485
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8643 - val_loss: 0.3747 - val_accuracy: 0.8478
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3119 - accuracy: 0.8748 - val_loss: 0.3720 - val_accuracy: 0.8440
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3102 - accuracy: 0.8731 - val_loss: 0.3726 - val_accuracy: 0.8455
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3265 - accuracy: 0.8667 - val_loss: 0.3664 - val_accuracy: 0.8538
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3128 - accuracy: 0.8725 - val_loss: 0.3685 - val_accuracy: 0.8478
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8690 - val_loss: 0.3720 - val_accuracy: 0.8474
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8555 - val_loss: 0.3694 - val_accuracy: 0.8478
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3255 - accuracy: 0.8645 - val_loss: 0.3709 - val_accuracy: 0.8485
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3226 - accuracy: 0.8636 - val_loss: 0.3683 - val_accuracy: 0.8489
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3184 - accuracy: 0.8656 - val_loss: 0.3704 - val_accuracy: 0.8474
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3187 - accuracy: 0.8702 - val_loss: 0.3662 - val_accuracy: 0.8504
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3091 - accuracy: 0.8723 - val_loss: 0.3682 - val_accuracy: 0.8501
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3168 - accuracy: 0.8648 - val_loss: 0.3719 - val_accuracy: 0.8504
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3157 - accuracy: 0.8727 - val_loss: 0.3736 - val_accuracy: 0.8470
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3123 - accuracy: 0.8741 - val_loss: 0.3675 - val_accuracy: 0.8501
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3219 - accuracy: 0.8680 - val_loss: 0.3729 - val_accuracy: 0.8478
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3242 - accuracy: 0.8665 - val_loss: 0.3708 - val_accuracy: 0.8516
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3016 - accuracy: 0.8773 - val_loss: 0.3720 - val_accuracy: 0.8466
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3113 - accuracy: 0.8748 - val_loss: 0.3757 - val_accuracy: 0.8455
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3248 - accuracy: 0.8664 - val_loss: 0.3760 - val_accuracy: 0.8504
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3231 - accuracy: 0.8592 - val_loss: 0.3716 - val_accuracy: 0.8504
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3161 - accuracy: 0.8663 - val_loss: 0.3709 - val_accuracy: 0.8508
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3007 - accuracy: 0.8777 - val_loss: 0.3720 - val_accuracy: 0.8501
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2969 - accuracy: 0.8747 - val_loss: 0.3727 - val_accuracy: 0.8489
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3155 - accuracy: 0.8690 - val_loss: 0.3696 - val_accuracy: 0.8535
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3028 - accuracy: 0.8764 - val_loss: 0.3706 - val_accuracy: 0.8527
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3206 - accuracy: 0.8635 - val_loss: 0.3743 - val_accuracy: 0.8478
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3217 - accuracy: 0.8651 - val_loss: 0.3711 - val_accuracy: 0.8516
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3033 - accuracy: 0.8666 - val_loss: 0.3783 - val_accuracy: 0.8448
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2992 - accuracy: 0.8751 - val_loss: 0.3732 - val_accuracy: 0.8470
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3076 - accuracy: 0.8704 - val_loss: 0.3738 - val_accuracy: 0.8504
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2917 - accuracy: 0.8770 - val_loss: 0.3770 - val_accuracy: 0.8497
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3002 - accuracy: 0.8755 - val_loss: 0.3732 - val_accuracy: 0.8516
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2970 - accuracy: 0.8768 - val_loss: 0.3768 - val_accuracy: 0.8527
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3008 - accuracy: 0.8756 - val_loss: 0.3714 - val_accuracy: 0.8542
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3031 - accuracy: 0.8712 - val_loss: 0.3781 - val_accuracy: 0.8493
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3049 - accuracy: 0.8713 - val_loss: 0.3755 - val_accuracy: 0.8478
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2924 - accuracy: 0.8788 - val_loss: 0.3806 - val_accuracy: 0.8459
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2953 - accuracy: 0.8757 - val_loss: 0.3807 - val_accuracy: 0.8470
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3071 - accuracy: 0.8684 - val_loss: 0.3797 - val_accuracy: 0.8497
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2897 - accuracy: 0.8770 - val_loss: 0.3751 - val_accuracy: 0.8527
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2959 - accuracy: 0.8744 - val_loss: 0.3751 - val_accuracy: 0.8501
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3049 - accuracy: 0.8749 - val_loss: 0.3799 - val_accuracy: 0.8512
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3050 - accuracy: 0.8720 - val_loss: 0.3773 - val_accuracy: 0.8531
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3147 - accuracy: 0.8660 - val_loss: 0.3802 - val_accuracy: 0.8501
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2951 - accuracy: 0.8745 - val_loss: 0.3820 - val_accuracy: 0.8489
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3098 - accuracy: 0.8658 - val_loss: 0.3763 - val_accuracy: 0.8501
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2980 - accuracy: 0.8772 - val_loss: 0.3757 - val_accuracy: 0.8519
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3152 - accuracy: 0.8692 - val_loss: 0.3772 - val_accuracy: 0.8523
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3114 - accuracy: 0.8673 - val_loss: 0.3782 - val_accuracy: 0.8508
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3093 - accuracy: 0.8654 - val_loss: 0.3805 - val_accuracy: 0.8440
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3007 - accuracy: 0.8701 - val_loss: 0.3798 - val_accuracy: 0.8478
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3019 - accuracy: 0.8704 - val_loss: 0.3768 - val_accuracy: 0.8531
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2941 - accuracy: 0.8760 - val_loss: 0.3794 - val_accuracy: 0.8485
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3132 - accuracy: 0.8720 - val_loss: 0.3775 - val_accuracy: 0.8508
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3057 - accuracy: 0.8719 - val_loss: 0.3860 - val_accuracy: 0.8482
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2901 - accuracy: 0.8804 - val_loss: 0.3807 - val_accuracy: 0.8497
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2922 - accuracy: 0.8775 - val_loss: 0.3813 - val_accuracy: 0.8463
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3068 - accuracy: 0.8764 - val_loss: 0.3935 - val_accuracy: 0.8455
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3118 - accuracy: 0.8644 - val_loss: 0.3846 - val_accuracy: 0.8478
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2893 - accuracy: 0.8738 - val_loss: 0.3833 - val_accuracy: 0.8501
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2962 - accuracy: 0.8738 - val_loss: 0.3840 - val_accuracy: 0.8444
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2973 - accuracy: 0.8749 - val_loss: 0.3850 - val_accuracy: 0.8459
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3059 - accuracy: 0.8696 - val_loss: 0.3894 - val_accuracy: 0.8504
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2926 - accuracy: 0.8758 - val_loss: 0.3888 - val_accuracy: 0.8421
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2994 - accuracy: 0.8810 - val_loss: 0.3929 - val_accuracy: 0.8436
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3053 - accuracy: 0.8732 - val_loss: 0.3847 - val_accuracy: 0.8470
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2920 - accuracy: 0.8816 - val_loss: 0.3956 - val_accuracy: 0.8425
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3038 - accuracy: 0.8733 - val_loss: 0.3828 - val_accuracy: 0.8504
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2930 - accuracy: 0.8762 - val_loss: 0.3893 - val_accuracy: 0.8463
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2959 - accuracy: 0.8816 - val_loss: 0.3850 - val_accuracy: 0.8474
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2892 - accuracy: 0.8763 - val_loss: 0.3857 - val_accuracy: 0.8444
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2885 - accuracy: 0.8751 - val_loss: 0.3870 - val_accuracy: 0.8387
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2971 - accuracy: 0.8782 - val_loss: 0.3851 - val_accuracy: 0.8497
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2895 - accuracy: 0.8774 - val_loss: 0.3867 - val_accuracy: 0.8470
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2937 - accuracy: 0.8717 - val_loss: 0.3914 - val_accuracy: 0.8451
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3048 - accuracy: 0.8739 - val_loss: 0.3862 - val_accuracy: 0.8444
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.2912 - accuracy: 0.8740 - val_loss: 0.3884 - val_accuracy: 0.8478

**Predict The Test Set Result**

In [26]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

In [27]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,y_test)
score

0.854